@import url("../../global.css");

.intro {
  background-color: white;
  display: flex;
}

.intro .left {
  flex: 1;
  overflow: hidden;
}

.intro .left .imageContainer {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  float: right;
}

.intro .left .imageContainer img {
  width: 100%;
}

.intro .right {
  flex: 1;
  position: relative;
  padding-left: 10px;
}

.intro .right .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro .right .wrapper h1 {
  font-size: 60px;
  margin: 10px 0;
}

.intro .right .wrapper h2 {
  font-size: 35px;
}

.intro .right .wrapper h3 {
  font-size: 30px;
}

.intro .right .wrapper h3 span {
  font-size: inherit;
  color: cornflowerblue;
}

.intro .right .wrapper {
  font-size: 15px;
}

.intro .right button {
  position: absolute;
  bottom: 150px;
  left: 10%;
  /* animation: arrowBlink 3s infinite; */
  width: 70%;
  height: 10%;
  font-size: 20px;
  border-radius: 15px;
  border-color: var(--mainColor);
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
}

.intro .right button:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}

/* .intro .right a .image {
  font-size: 50px;
  animation: arrowBlink 1s infinite;
} */

@keyframes arrowBlink {
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro .left .imageContainer {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    float: right;
    border-radius: 0%;
  }

  .intro .right .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro .right .wrapper h1 {
    font-size: 30px;
    margin: 10px 0;
  }

  .intro .right .wrapper h2 {
    font-size: 25px;
  }

  .intro .right .wrapper h3 {
    font-size: 18px;
  }

  .intro .right .wrapper {
    font-size: 14px;
  }

  .intro .right button {
    width: 90%;
    height: 100px;
    bottom: 50px;
    left: 30px;
  }
}
